.nome {
    border: solid 6px #c1930af2;
    text-align: center;
    font-weight: 3, 75rem;
    margin: 20px 100px;
    padding: 10px;
    color: #030341;
    background-color: white;
}

.topo {
    background-color: #030341;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    height: 150px;
    width: 100%;
}

.container {
    color: #030341;
    background-color: aliceblue;
    margin-top: 160px;
}

span {
    font-size: 1rem;
}

.dapes {
    font-size: 1rem;
}

.objetivo {
    padding-left: 50px;
    padding-right: 50px;
}

.row1 {

    display: flex;
    text-align: center;
    font-size: 1rem;
    /* padding: 10px; */
    margin: 15px;
    justify-content: space-between;
    gap: 20px;
}

.row {
    text-align: center;
    font-size: 1rem;
    padding: 10px;
}

.col {
    /*background-color:aquamarine*/
    border: #030341 solid;
    border-radius: 10px;
    padding: 15px;
    justify-content: space-between;
    width: 40px;
    font-size: 1rem;
}

.barra {
    border: solid 6px #000000;
    color: #000;
    margin-top: 50px;
    margin-bottom: 0px;
}

.subtitulo {
    border: solid 6px #c1930af2;
    text-align: center;
    font-weight: 2, 5rem;
    padding: 10px;
    color: #030341;
}

li {
    list-style-type: none;
    align-items: first baseline;
}


.realiza {
    padding: 0px 50px 0px 50px;
}

.exp {
    list-style-type: disc;
}

.midia {
    margin-bottom: 50px;
}

.midias_sociais {
    padding-left: 50px;
    align-items: center;

}

h6 {
    margin-left: 20px;
}

@media screen and (max-width: 768px) {

    .container {
        display: block;
        color: #030341;
        background-color: aliceblue;
        margin-top: 120px;
    }

    .topo {
        background-color: #030341;
        padding: 0px;
        position: fixed;
        top: 0;
        left: 0;
        height: 110px;
        width: 100%;
        align-items: center;
        margin: auto;
    }

    .nome {
        width: 50vw;
        align-items: center;
        font-size: 16px;
        text-align: center;
        position: fixed;
        padding: 8px;
        margin-top: 10px;

    }

    .row1 {
        width: 95vw;
        align-items: center;
        margin: 0;
        align-content: center;
        font-size: 16px;
    }

    .col {
        /*background-color:aquamarine*/
        border: #030341 solid;
        border-radius: 10px;
        padding: 10px 30px 10px 0px;
        justify-content: center;
        align-items: center;
        width: 20px;
        font-size: 12px;
    }

    .dapes {
        width: 20vw;
        font-size: 9px;
        margin: auto;
        padding:0%;
    }

    .subtitulo {
        border: solid 6px #c1930af2;
        text-align: center;
        font-weight: 1, 2rem;
        font-size: 16px;
        padding: 10px;
        color: #030341;

    }

    .objetivo {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 12px;
        align-self: center;
    }

    .exp {
        list-style-type: disc;
        font-size: 12px;
    }

    .midia {
        margin-bottom: 50px;
        align-items: flex-start;
    }

    .midia__blobo__midias {
        display: flex;
        align-items: start;
        margin-left: 10;
        padding: 0%;
    }

    .midias_sociais {
        font-size: 12px;
        text-decoration: none;
    }

}